h1 {
  color: cadetblue;
  font-size: 2rem;
}
img {
  width: 400px;
}
#thirdDiv {
  width: 500px;
  height: 600px;
  background-color: rgb(240, 238, 238);
  padding: 50px;
  border: 2px solid black;
  margin-top: 1rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5);
}
#spanId {
  font-size: 18px;
  margin: 50px;
}
